.RabbitNose {
  position: absolute;
  top: 51vh;
  left: 29.8vw;
	width: 0;
	height: 0;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-top: 2vw solid lightpink;
  z-index: 10;
  animation: nose-twitch 1.5s 1s infinite;
}

@keyframes nose-twitch {
  0% {
    border-top: 2vw solid lightpink;
  }
  10% {
  	border-top: 2.2vw solid lightpink;
  }
  20% {
  	border-top: 2vw solid lightpink;
  }
  30% {
  	border-top: 2.2vw solid lightpink;
  }
  40% {
  	border-top: 2vw solid lightpink;
  }
  100% {
  	border-top: 2vw solid lightpink;
  }
}
