.graphic {
  height: 100%;
  /* transition: transform 1s cubic-bezier(0.18, -0.68, 0.36, 1.8); */
  transform: translateX(-120%);
  animation: scroll-in 4s 2s 1 forwards;
}

@keyframes scroll-in {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
  }
}

.graphic-container {
	position: absolute;
	bottom: 0;
	left: 6vw;
	z-index: 2;
	height: 80vh;
}
