.RE-outer {
  position: absolute;
  top: 4vh;
  left: 22vw;
  background-color: white;
  height: 22vh;
  width: 5vw;
  border-radius: 100% 100% 10% 10%;
  transform: rotate(338deg);
  z-index: 1;
}

.RE-outerR {
  left: 36vw;
  transform: rotate(22deg);
}

.RE-inner {
  position: absolute;
  top: 6vh;
  left: 23vw;
  background-color: lightpink;
  height: 20vh;
  width: 3vw;
  border-radius: 100% 100% 10% 10%;
  transform: rotate(338deg);
  z-index: 2;
}

.RE-innerR {
  left: 36.9vw;
  transform: rotate(22deg);
}
