.Background {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.sky {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 28%;
  background-color: #99C8F8;
  z-index: 0;
}

.sea {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 32%;
  background: linear-gradient(#123D73, #2861C3);
  border-bottom-right-radius: 30%;
  z-index: 1;
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 0%;
  background: linear-gradient(#123D73, #2861C3);
  border-bottom-right-radius: 30%;
  z-index: 1;
  animation: wave-flow 4s 0s infinite;
}

@keyframes wave-flow {
  0% {
    height: 0;
    width: 70%;
  }
  80% {
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.sand {
  position: relative;
  top: -20%;
  left: 0;
  width: 100%;
  height: 60%;
  /* background: linear-gradient(to bottom, #D2B48B, #F2D39C); */
  background-color: #ffb90f;
  z-index: 0;
}
