.GetInTouch {
	position: absolute;
	top: 400vh;
	left: 0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#ffcdd2, #f43d4f);
}

.GetInTouch-title {
	font-size: 4.5em;
	position: relative;
	top: 10vh;
	color: #353531;
}

.contact-icon {
	zoom: 200%;
	margin: 15px;
	color: #353531;
}

.contact-icon-container {
	position: absolute;
	top: 40vh;
	display: flex;
	flex-wrap: wrap;
}

.contact-icon:hover {
	animation: shudder 0.1s 0s infinite;
}

@keyframes shudder {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
