.GetInTouch {
  position: absolute;
  top: 400vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#f7b5bb, #f4707d);
}

.GetInTouch-title {
	font-size: 4.5em;
	position: relative;
	top: 10vh;
	color: #353531;
}

.GetInTouch-icon-container {
  position: relative;
  top: 18vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fa {
  zoom: 200%;
  color: black;
}

.contact-icon:hover {
	animation: shudder 0.1s 0s infinite;
}

@keyframes shudder {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
