.AnimationGallery {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.AnimationGallery-title {
  font-size: 3.4em;
  position: relative;
  top: 10vh;
  color: black;
  padding-bottom: 10vh;
}

.animation-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
