.AnimationGallery {
  position: absolute;
  top: 200vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #dfdccd;
  box-sizing: border-box;
}

.AnimationGallery-title {
	font-size: 4.5em;
	position: relative;
	top: 10vh;
	padding-bottom: 28vh;
}

.animation-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
