@import url("https://fonts.googleapis.com/css?family=Russo+One|Oswald|Nunito");

.App {
	max-width: 100vw;
}

.text-heading {
	color: #353531;
	text-align: center;
	font-family: "Russo One", cursive;
}

.text-subheading {
	color: #353531;
	text-align: center;
	font-family: "Oswald", sans-serif;
}

.text-body {
	color: #353531;
	text-align: left;
	font-family: "Nunito", sans-serif;
}

body {
  cursor: default;
}
