@import url('https://fonts.googleapis.com/css?family=Passion+One|Oswald|Nunito');

.App {
  max-width: 100vw;
}

.text-heading {
  text-align: center;
  font-family: 'Passion One', cursive;
}

.text-subheading {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.text-body {
  text-align: left;
  font-family: 'Nunito', sans-serif;
}

body {
  cursor: default;
}
