.Home {
  position: absolute;
  left: 0vh;
  top: 0vh;
  background-color: lightblue;
  height: 100vh;
  width: 100%;
}

.home-text {
  opacity: 0;
  animation: fade-in 4s 2s 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  text-align: center;
  position: absolute;
  font-size: 5em;
  top: 30vh;
  left: 55vw;
  color: black;
  z-index: 2;
}

.sh {
  position: absolute;
  font-size: 2em;
  top: 60vh;
  left: 56vw;
  color: gray;
  z-index: 2;
}

.profile {
  position: absolute;
  filter: grayscale(60%);
  max-height: 100vh;
  left: -2vw;
  z-index: 2;
}

@keyframes zoom-in {
  0% {
    height: 0vh;
    opacity: 0;
  }
  100% {
    height: 100vh;
    opacity: 1;
  }
}
