.Home {
	position: absolute;
	left: 0vh;
	top: 0vh;
	background-color: #eeebdc;
	/* background: radial-gradient(#eeebdc, #c1c1bf); */
	height: 100vh;
	width: 100%;
}

.home-text {
	opacity: 0;
	animation: fade-in 4s 2s 1 forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title {
	text-align: center;
	position: absolute;
	font-size: 5.5em;
	top: 30vh;
	left: 50vw;
	color: #313131;
	z-index: 2;
}

.sh {
	position: absolute;
	font-size: 2em;
	top: 64vh;
	left: 58vw;
	color: #313131;
	z-index: 2;
}

.profile {
	position: absolute;
	filter: grayscale(60%);
	max-height: 100vh;
	left: 2vw;
	top: 0;
	z-index: 2;
}

.arrow-down-container {
	position: absolute;
	right: 27.6vw;
	top: 81vh;
	z-index: 20;
	animation: bounce 2s 0s infinite;
	/* height: 100px; */
	/* width: 100px; */
}

.arrow-down {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
	color: #313131;
	transform: scale(1.2);
}

.arrow-down-container:hover {
	animation: paused;
}

.arrow-down:hover {
	transform: scale(1.5);
}

@keyframes zoom-in {
	0% {
		height: 0vh;
		opacity: 0;
	}
	100% {
		height: 100vh;
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
