/* === ALL COLOURS AND FONTS USED ACROSS THE WEBSITE === */
/* === COLOURS === */
/* === FONTS === */
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.home-container {
  position: absolute;
  left: 0vh;
  top: 0vh;
  background-color: #bcd2e2;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.home-outline-graphic-container {
  position: relative;
  flex: 0 1 750px;
  transform: translateX(-100vw);
  animation: slide-in 1.4s linear 0s 1 forwards; }

@keyframes slide-in {
  0% {
    transform: translateX(-100vw); }
  100% {
    transform: translateX(0vw); } }

.home-outline-graphic {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.home-text-container {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  color: #313131;
  margin: 0 50px;
  animation: fade-in 2s 1.6s 1 forwards;
  opacity: 0;
  font-family: "Do Hyeon", sans-serif; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.home-title {
  position: relative; }

.home-job-role {
  position: relative; }
