.MyStory {
  position: absolute;
  top: 200vh;
  left: 0vh;
  height: 100vh;
  width: 100%;
  background-color: rgb(134, 207, 143);
}

.MyStory-title {
  opacity: 0;
  position: relative;
  top: 10vh;
  font-size: 3.4em;
  animation: fade-in 2s 1s 1 forwards;
}

.MyStory-subheading1 {
  opacity: 0;
  position: relative;
  top: 8vh;
  animation: fade-in 3s 2s 1 forwards;
}

.MyStory-body {
  opacity: 0;
  position: relative;
  top: 6vh;
  padding: 3vh 18vw 3vh 18vw;
  animation: fade-in 4s 3s 1 forwards;
}

.MyStory-subheading2 {
  position: relative;
  top: 6vh;
  padding: 0vh 3vh 0vh 3vh;
}

.MyStory-kayaker {
  opacity: 0;
  animation: fade-in 1s 7s 1 forwards;
}

.MyStory-climber {
  opacity: 0;
  position: relative;
  padding: 0vh 30vh 0vh 30vh;
  animation: fade-in 1s 8s 1 forwards;
}

.MyStory-coder {
  opacity: 0;
  animation: fade-in 1s 9s 1 forwards;
}
