/* === ALL COLOURS AND FONTS USED ACROSS THE WEBSITE === */
/* === COLOURS === */
/* === FONTS === */
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.MyStory {
  position: absolute;
  top: 200vh;
  left: 0vh;
  height: 100vh;
  width: 100%;
  background-color: #a8c6c3; }

.MyStory-title {
  position: relative;
  color: #313131;
  top: 10vh;
  font-size: 3rem;
  font-family: "Do Hyeon", sans-serif;
  text-align: center;
  animation: fade-in 2s 1s 1 forwards; }

.MyStory-body {
  position: relative;
  color: #313131;
  top: 16vh;
  left: 10vw;
  padding: 1vw;
  max-width: 45%;
  font-family: "PT Sans", sans-serif; }

.MyStory-activity-container {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Do Hyeon", sans-serif; }

.MyStory-kayaker-container {
  top: 55vh;
  right: 25vw;
  opacity: 0;
  animation: fade-in 1s 2s 1 forwards;
  color: #313131; }

.MyStory-climber-container {
  top: 55vh;
  right: 5vw;
  opacity: 0;
  animation: fade-in 1s 3s 1 forwards;
  color: #313131; }

.MyStory-coder-container {
  top: 20vh;
  right: 15vw;
  opacity: 0;
  animation: fade-in 1s 1s 1 forwards;
  color: #313131; }

.MyStory-image {
  height: 10vw;
  width: 12vw;
  border-radius: 10%; }
