.Home {
  position: absolute;
  /*background-color: lightgray;*/
  max-height: 80vh;
  width: 100vw;
}

.title {
  text-align: left;
  position: absolute;
  font-size: 4em;
  top: 34vh;
  right: 7.5vw;
  color: white;
  z-index: 2;
}

.sh {
  position: absolute;
  font-size: 1.7em;
  top: 60vh;
  right: 14.45vw;
  color: #f9e614;
  z-index: 2;
}

.profile {
  position: absolute;
  filter: grayscale(60%);
  max-height: 100vh;
  left: -2vw;
  z-index: 2;
}

.graphic {
  position: absolute;
  max-height: 100vh;
  left: -2vw;
  z-index: 2;
}
