.Home {
  position: absolute;
  /*background-color: lightgray;*/
  max-height: 80vh;
  width: 100vw;
}

.title {
  position: absolute;
  font-size: 4em;
  top: 34vh;
  right: 11vw;
  color: #125088;
}

.sh1 {
  position: absolute;
  font-size: 1.7em;
  top: 60vh;
  right: 11.3vw;
  color: #125088;
}

.profile {
  position: absolute;
  filter: grayscale(60%);
  max-height: 100vh;
  left: -2vw;
}

.graphic {
  position: absolute;
  filter: grayscale(60%);
  max-height: 100vh;
  left: -2vw;
}
