.Header {
  position: absolute;
  /*background-color: lightgray;*/
  max-height: 80vh;
  width: 100vw;
}

.title {
  position: absolute;
  font-size: 4em;
  top: 34vh;
  left: 8vw;
}

.sh1 {
  position: absolute;
  font-size: 1.7em;
  top: 60vh;
  left: 8.3vw;
}

.profile {
  filter: grayscale(60%);
  max-height: 100vh;
  float: right;
}
