.Navbar {
  position: fixed;
  width: 38%;
  height: 10vh;
  z-index: 5;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* opacity: 0; */
}

@keyframes zoom-in-right {
  0% {
    left: -100vw;
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  100% {
    left: 0vw;
    opacity: 1;
  }
}

.Navbar-Link {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background: none;
  /* padding: 15px 15px 15px 15px; */
  width: auto;
  text-decoration: none;
  animation: zoom-in-right 2s 0.6s 1 forwards;
  opacity: 0;
  flex: 1 0 auto;
}

.Nav-btn1:hover {
  color: #4ea7f1;
}

.Nav-btn2:hover {
  color: #e9dc5b;
}

.Nav-btn3:hover {
  color: #6be86e;
}

.Nav-btn4:hover {
  color: #7383e6;
}

.Nav-btn5:hover {
  color: #f47985;
}
