.Projects {
  position: absolute;
  top: 300vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#c5cae9, #6375e3);
}

.Projects-title {
  position: relative;
  top: 10vh;
  color: black;
  font-size: 4.5em
}

.GridList {
  padding-top: 6vw;
}
