.Projects {
  position: absolute;
  top: 300vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #dfdccd;
}

.Projects-title {
  position: relative;
  top: 10vh;
  font-size: 4.5em
}

.GridList {
  padding-top: 6vw;
}
