.toaster-container {
  position: absolute;
  width: 30vw;
  height: 30vw;
  /* background-color: yellow; */
  left: 30vw;
  top: 20vh;
  z-index: 1;
}

.toaster-main {
  position: absolute;
  background-color: black;
  border-radius: 10%;
  height: 70%;
  width: 100%;
  bottom: 0;
  z-index: 4;
}

.toaster-dial {
  position: absolute;
  background-color: silver;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  bottom: 10%;
  right: 16%;
  z-index: 5;
  animation: turn-dial 2s 0s infinite;
}

.toaster-dial-marking {
  position: absolute;
  background-color: black;
  height: 30%;
  width: 8%;
  left: 68%;
  top: 18%;
  transform: rotate(50deg);
  z-index: 6;
}

.toaster-lever {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
  border: solid gray 1.2vw;
  box-sizing: border-box;
  top: 40%;
  left: 25%;
  z-index: 5;
}

.toaster-handle {
  position: absolute;
  background-color: black;
  width: 20%;
  height: 0%;
  border: outset silver 1.2vw;
  box-sizing: border-box;
  top: 44%;
  left: 20%;
  z-index: 6;
  animation: pull-handle 2s 0s infinite;
}

.toaster-toast-1 {
  position: absolute;
  background-color: rgb(159, 140, 119);
  border: solid rgb(115, 101, 85) 1vw;
  width: 70%;
  height: 80%;
  z-index: 2;
  border-radius: 10%;
  left: 15%;
  transform: rotate(3deg);
}

.toaster-toast-2 {
  position: absolute;
  background-color: rgb(159, 140, 119);
  border: solid rgb(115, 101, 85) 1vw;
  width: 70%;
  height: 80%;
  z-index: 3;
  border-radius: 10%;
  left: 10%;
  transform: rotate(-2deg);
  top: 2vh;
}

@keyframes turn-dial {
  0% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

@keyframes pull-handle {
  0% {
    top: 44%;
  }
  100% {
    top: 80%;
  }
}
