.toaster-container {
  position: relative;
  width: 10vw;
  height: 10vw;
  z-index: 1;
  top: -1.6vw;
}

.toaster-main {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  height: 70%;
  width: 95%;
  bottom: 0;
  z-index: 4;
  border: black 0.2vw solid;
  right: 0;
}

.toaster-dial {
  position: absolute;
  background-color: silver;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  bottom: 10%;
  right: 16%;
  z-index: 5;
}

.toaster-container:hover .toaster-dial{
  animation: turn-dial 6s infinite;
}

.toaster-container:hover .toaster-smoke{
  animation: smoke 6s infinite;
}

.toaster-dial-marking {
  position: absolute;
  background-color: black;
  height: 30%;
  width: 8%;
  left: 68%;
  transform: rotate(50deg);
  top: 18%;
  z-index: 6;
}

.toaster-lever {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
  border: solid gray 0.4vw;
  box-sizing: border-box;
  top: 40%;
  left: 25%;
  z-index: 5;
}

.toaster-handle {
  position: absolute;
  background-color: silver;
  width: 20%;
  height: 0%;
  border: outset silver 0.6vw;
  box-sizing: border-box;
  top: 44%;
  left: 20%;
  z-index: 6;
}

.toaster-container:hover .toaster-handle {
  animation: pull-handle 6s infinite forwards;
}

.toaster-smoke {
  position: absolute;
  background-image: url(Smoke.png);
  z-index: 8;
  height: 100%;
  width: 160%;
  top: -70%;
  left: -40%;
  opacity: 0;
}

.toaster-toast-1 {
  position: absolute;
  background-color: rgb(159, 140, 119);
  border: solid rgb(115, 101, 85) 0.7vw;
  width: 70%;
  height: 30%;
  z-index: 2;
  border-radius: 10%;
  left: 14%;
  transform: rotate(3deg);
  top: 0%;
}

.toaster-container:hover .toaster-toast-1, .toaster-container:hover .toaster-toast-2 {
  animation: bread-down 6s infinite forwards;
}

.toaster-toast-2 {
  position: absolute;
  background-color: rgb(159, 140, 119);
  border: solid rgb(115, 101, 85) 0.7vw;
  width: 70%;
  height: 30%;
  z-index: 3;
  border-radius: 10%;
  left: 8%;
  transform: rotate(-2deg);
  top: 0%;
}

@keyframes turn-dial {
  0% {
    transform: rotate(-140deg);
  }
  20% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

@keyframes pull-handle {
  20% {
    top: 44%;
  }
  51% {
    top: 80%;
  }
  60% {
    top: 44%;
  }
}

@keyframes bread-down {
  20% {
    top: 0%;
    background-color: rgb(159, 140, 119);
    border: solid rgb(115, 101, 85) 0.7vw;
  }
  50% {
    top: 30%;
    background-color: rgb(159, 140, 119);
    border: solid rgb(115, 101, 85) 0.7vw;
  }
  51% {
    top: 30%;
    background-color: rgb(85, 75, 63);
    border: solid rgb(73, 64, 54) 0.7vw;
  }
  60% {
    top: 0%;
    background-color: rgb(85, 75, 63);
    border: solid rgb(73, 64, 54) 0.7vw;
  }
  90% {
    top: 0%;
    background-color: rgb(85, 75, 63);
    border: solid rgb(73, 64, 54) 0.7vw;
  }
  100% {
    top: 0%;
    background-color: rgb(159, 140, 119);
    border: solid rgb(115, 101, 85) 0.7vw;
  }
}

@keyframes smoke {
  0% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
