/* === ALL COLOURS AND FONTS USED ACROSS THE WEBSITE === */

/* === COLOURS === */
$black:       #313131;
$lightblue:   #bcd2e2;
$cream:       #e6d2a2;
$green:       #a8c6c3;
$purple:      #bab0e0;
$pink:        #d6a9a9;


/* === FONTS === */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
$heading: 'Do Hyeon', sans-serif;

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$body: 'PT Sans', sans-serif;
