.speaker-container {
  position: relative;
  height: 14vw;
  width: 24vw;
  /* background-color: lightblue; */
}

.speaker-container:hover .speaker-bottom, .speaker-container:hover .speaker-top{
  animation: vibrate 0.5s 0s infinite;
}

.speaker-base {
  width: 30%;
  height: 100%;
  background-color: black;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.speaker-base-left {
  position: absolute;
  left: 0;
}

.speaker-base-right {
  position: absolute;
  right: 0;
}

.speaker-top {
  position: relative;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-color: black;
  border: ridge gray 1.3vw;
}

.speaker-bottom {
  position: relative;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: black;
  border: ridge gray 2vw;
  bottom: 0%;
}

.speaker-console {
  position: absolute;
  height: 85%;
  width: 40%;
  background-color: silver;
  bottom: 0;
  left: 30%;
  border: 3px black solid;
  box-sizing: border-box;
}

.speaker-display {
  position: relative;
  background-color: black;
  width: 80%;
  height: 20%;
  border-radius: 10%;
  left: 10%;
  top: 10%;
}

.speaker-light-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.speaker-light {
  margin-top: 4vw;
  /* margin-left: 1vw; */
  /* margin-right: 1vw; */
  position: relative;
  height: 0.5vw;
  width: 0.5vw;
  background-color: green;
  border-radius: 50%;
  border: solid black 0.05vw;
}

.speaker-light-red {
  background-color: red;
}

@keyframes vibrate {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
